@using ET_Vest.Models.Enums
@model ET_Vest.Models.Request
@{
    ViewData["Title"] = "Edit";
}

<h2>Edit Request</h2>
<form method="post" asp-action="Edit" asp-controller="Request">
    <div class="form-control">
        <label asp-for="RequestDate" class="form-label"></label>
        <input asp-for="RequestDate" type="date" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="RequestedQuantity"></label>
        <input asp-for="RequestedQuantity" class="form-control" />
    </div>
@*     <div class="form-group">
        <label asp-for="Status"></label>
        <input asp-for="Status" class="form-control" />
    </div> *@
    <div class="form-group">
        <label asp-for="Cathegory"></label>
        <select asp-for="Cathegory" asp-items="Html.GetEnumSelectList<Cathegory>()" class="form-control">
            <option value="">Select an Category</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="TradeObjectId"></label>
        <select asp-for="TradeObjectId" asp-items="@(new SelectList(ViewBag.TradeObjects, "Id", "Name"))" class="form-control">
            <option value="">Select a trade object</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="PrintedEditionId"></label>
        <select asp-for="PrintedEditionId" asp-items="@(new SelectList(ViewBag.PrintedEditions, "PrintedEditionId", "Title"))" class="form-control">
            <option value="">Select a printed edition</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="ProviderId"></label>
        <select asp-for="ProviderId" asp-items="@(new SelectList(ViewBag.Providers, "ProviderId", "Name"))" class="form-control">
            <option value="">Select a provider</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>