@model List<ApplicationUser>

@{
    ViewData["Title"] = "User Index";
}

<h1>User Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>Номер</th>
            <th>Потребител</th>
            <th>Имейл</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                @if (User.IsInRole("Owner"))
                {
                    <td>
                        <form asp-action="Delete" asp-route-id="@user.Id" method="post"
                              onsubmit="return confirm('Сигурни ли сте, че искате да изтриете този потребител?');">
                            <button type="submit" class="btn btn-danger">Изтриване</button>
                        </form>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>